* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #FFFFF;
}
.navigation {
	display: block;
	width: 100%;
	height: 80px;
	padding-top:10px;
}
.navigation .menu {
	float:right;
}
.menu1 {
	padding-top:10px; 
}

.navigation ul {
	list-style: none;
	display: inline;
}

.navigation ul li {
display: inline;
padding-left:15px;
}
.navigation ul li a {
	text-decoration: none;
}
.navigation div
{
	display: inline-block;
	vertical-align:middle;
	padding-left:15px;
}
.App {
  background-image: url("bell.png");
  background-position: -65px -400px;
  height: 30px;
  width: 30px;
}
.Bell {
  background-image: url("bell.png");
  background-position: -60px -70px;
  height: 30px;
  width: 30px;
}
.L {
  background-image: url("photo.jpg");
  border-size:32px 32px;
  border-radius:50%;
  height: 30px;
  width: 18px;
  flex:1 auto;
  margin-right:10px;
}

.google{
	margin-top:100px;
	background: url("google.png") no-repeat;
	background-size: 269px 95px;
	height: 95px;
    width: 269px;
    padding-bottom:20px;
    
}
.center {
	display: block;
	-webkit-text-align: center;
	-moz-text-align: center;
	-ms-text-align: center;
	-o-text-align: center;
	text-align: center;
}
center .input {
border:1px solid #d9d9d9;
width:512px;
height:25px;
}
center input {
float:left;
width:480px;
height:25px;
outline:none;	
border:none;
vertical-align:middle;
}
.buttons{
	display:block;
	margin-left:38%;
}
.buttons input {
	line-height: 29px;
	line-height: 27px;
	margin:11px 30px;
	width:100px;

}

